[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/ivan/Escritorio/mysql-workbench.desktop]
row=6
col=11

[/home/ivan/Escritorio/code.desktop]
row=4
col=11

[/home/ivan/Escritorio/Davante.desktop]
row=3
col=11

[/home/ivan/Escritorio/claude.desktop]
row=5
col=11

[/home/ivan/Escritorio/Carpeta nueva]
row=4
col=9

