[Desktop Entry]
Name=Magic: The Gathering Arena
Comment=Play this game on Steam
Exec=steam steam://rungameid/2141910
Icon=steam_icon_2141910
Terminal=false
Type=Application
Categories=Game;
